*{
    width: auto;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-direction: column;
}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
}

img{
    height: 15rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.conection a{
    text-decoration: none;
    margin: 1rem;
    padding: 0.5rem;
    background-color: white;
    color: purple;
}
.conection{
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
}

.my{
    display: flex;
    justify-content: center;
    align-items: center;
}

.why{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 4.2rem;
}

.social-media{
    font-size: 2rem;
}
